# Byte-compiled / optimized / DLL files
__pycache__/
.db

# MLflow artifacts
mlruns/
mlflow.db

# Documentation
docs/_build/
# Allow markdown files in docs/madewithml/
!docs/madewithml/*.md

# Ignore Mac system files
.DS_Store

# Logs
logs/
*.log

# dotenv
.env
.venv

#folders
venv/
results/
datasets/
